<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLabs Test">
    <test name="feature Test">
        <classes>
            <class name="com.myCompany.SwagLabs.Test.LoginTest" />
            <class name="com.myCompany.SwagLabs.Test.SubmitOrderTest" />
        </classes>
    </test>
</suite>